* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Krona One', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;

  @include respond(tab-port) {
    justify-content: space-between;
    height: 20vh;
  }

  @include respond(phone) {
    height: 25vh;
  }

  &__logo {
    font-size: 3rem;
    margin-left: 3rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);

    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(phone) {
      font-size: 2rem;
      margin: 0 0 0 2rem;
    }
  }
}

nav {
  width: 50%;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2rem 0;
  margin-right: 5rem;

  @include respond(tab-land) {
    width: 55%;
  }

  @include respond(tab-port) {
    width: 65%;
    margin: 0;
  }

  @include respond(phone) {
    width: 50%;
    margin: 0;
    height: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;

  @include respond(tab-port) {
    font-size: 1.3rem;
  }

  @include respond(phone) {
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 0;
  }

  &__links {
    cursor: pointer;
    transition: color 1s ease;

    &:hover {
      color: #ffa500;
    }
  }
}

.container {
  display: flex;
  margin: 0 5rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  @include respond(phone) {
    flex-direction: row;
    margin: 0;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 50vh;
  margin-top: 25vh;

  @include respond(tab-port) {
    flex-direction: row;
    width: 100%;
    height: 20vh;
    margin: 5rem 0;
  }

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    height: 50vh;
    width: 20%;
  }

  .fab {
    font-size: 5rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.main {
  position: relative;
  width: 80%;
  height: 90vh;

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  &__image {
    width: 40%;
    position: absolute;
    top: 35rem;
    left: 35%;
    filter: grayscale(100%) contrast(200%);

    @include respond(tab-land) {
      top: 35rem;
    }

    @include respond(tab-port) {
      top: 20rem;
      left: 25%;
    }

    @include respond(phone) {
      width: 80%;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -58%);
    }
  }
}

.description {
  margin-top: 15rem;
  z-index: 30;

  @include respond(tab-port) {
    margin: 0 0 0 5rem;
  }

  @include respond(phone) {
    margin: 12rem 0 0 0;
  }

  &__new {
    font-size: 3rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__model {
    font-size: 5rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__s {
    color: #ffa500;
  }

  &__performance {
    margin-left: 18rem;
    font-size: 3rem;

    @include respond(phone) {
      font-size: 1.8rem;
      margin: 0;
    }
  }

  &__plus {
    color: #ffa500;
  }

  &__latest {
    font-size: 1.5rem;
    margin-left: 30rem;

    @include respond(phone) {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  &__seconds {
    color: #ffa500;
  }
}
